<connectionStrings>
  <!-- This connection string will be used to reference the solution sql database-->
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20200108024954.mdf;Initial Catalog=aspnet-WebApp-20200108024954;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  <add name="ChinoobDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true" providerName="System.Data.SqlClient"/>
</connectionStrings>